---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="https://avatars.githubusercontent.com/u/32602403?v=4" />
  </td><td style="padding:10px">
    <center>
    <h1>Bing Yan</h1>
    <b>Visiting Researcher at Meta FAIR</b> <br> <b>AI + Chemistry Ph.D. student at NYU</b> <br> <b>Ph.D. in chemistry from MIT</b> <br>
    <span style="font-size:15px">
        <a href="cv/CV_Bing_YAN_feb26.pdf">[CV]</a>
        <a href="https://scholar.google.com/citations?hl=en&user=337w9-V_WxIC&view_op=list_works&sortby=pubdate">[Google Scholar]</a> 
        <a href="https://x.com/bingyan4science">[Twitter]</a>
    </span> </h1> <br>
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 18px">
  
  My <a href="papers/">research</a> focuses on AI + Chemistry, with the goal of automating molecule generation and evaluation.
</p>

<p style="font-size: 18px">
  At MIT, I was advised by Prof. <a href="https://interphases.org/">Yogesh Surendranath</a> during my PhD and by Prof. <a href="https://www.romangroup.mit.edu/">Yuriy Roman</a> during my postdoc. At NYU, I am advised by Prof. <a href="https://www.kyunghyuncho.me/">Kyunghyun Cho</a>, and at Meta I am mentored by Dr. <a href="https://rtqichen.github.io/">Ricky Chen</a> and Dr. <a href="https://bkmi.github.io/">Ben Miller</a>.
</p>


<h3> Current Research Areas </h3>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Generative modeling of 3D molecular conformations. </li>
  <li> Large language models (LLMs) for chemistry prediction. </li>
  <li> Environment-aware molecule design. </li>
</ul>
</p>

<h3> News </h3>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> 2026: I received a Poster Award at the Gordon Research Conference on AI for Materials, Energy, and Chemical Sciences for
      <em>EVA-Flow: A Unified Environment-Aware Generative Model for 3D Molecular Conformations</em>.
  </li>
  <li> August 8, 2025: Our <a href="https://pubs.rsc.org/en/content/articlelanding/2025/dd/d5dd00176e">Consistency paper</a> is out in Digital Discovery!
      We evaluate how consistently LLMs answer when the same molecule is given as a SMILES string versus an IUPAC name, and find low consistency even after mapped training and KL regularization,
      suggesting that LLMs may capture surface-level patterns rather than underlying chemistry.
      <a href="https://x.com/bingyan4science/status/1954926445702398164"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
  </li>
  <li> July 26, 2024: Our <a href="https://pubs.rsc.org/en/content/articlepdf/2024/DD/D4DD00114A">CatScore paper</a> is out in Digital Discovery! We introduce CatScore,
      a learning-based metric for evaluating asymmetric catalysis in organic chemistry that enables efficient, effective assessment
      of diverse catalyst-design models at both the instance and system levels.
      <a href="https://x.com/bingyan4science/status/1816526648088625656"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
  </li>
</ul>
</p>

<h3>Selected Papers</h3>

<table>
{% for paper in site.data.papers.notable %}

  <tr><td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="300px" style="min-width:300px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="300px" style="min-width:300px" src="https://avatar.tobi.sh/{{paper.title}}"></a>

      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

<br>

</td></tr>

{% endfor %}
</table>
<br>
