---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="https://avatars.githubusercontent.com/u/32602403?v=4" />
  </td><td style="padding:10px">
    <center>
    <h1>Bing Yan</h1>
    <b>AI + Chemistry Ph.D. student at NYU</b> <br> <b>Ph.D. in chemistry from MIT</b> <br>
    <span style="font-size:15px">
        <a href="cv/CV_Bing_YAN.pdf">[CV]</a>
        <a href="https://scholar.google.com/citations?hl=en&user=337w9-V_WxIC&view_op=list_works&sortby=pubdate">[Google Scholar]</a> 
        <a href="https://x.com/bingyan4science">[Twitter]</a>
    </span> </h1> <br>
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 18px">
  
  My <a href="papers/">research</a> focuses on AI + Chemistry, aiming to automate catalyst design and evaluation processes.
</p>


<h3> Current Research Area </h3>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Learning-based modeling of chemical processes. </li>
  <li> Automatic evaluation of catalyst design for asymmetric catalysis. </li>
  <li> Language models for chemistry predictions. </li>
</ul>
</p>

<h3>Selected Papers</h3>

<table>
{% for paper in site.data.papers.notable %}

  <tr><td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="300px" style="min-width:300px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="300px" style="min-width:300px" src="https://avatar.tobi.sh/{{paper.title}}"></a>

      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

<br>

</td></tr>

{% endfor %}
</table>
<br>
