---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="https://avatars.githubusercontent.com/u/5753959?v=4" />
  </td><td style="padding:10px">
    <center>
    <h1>Bing Yan</h1>
    <b>Postdoctoral Associate</b> <br> <b>MIT</b> <br>
    <span style="font-size:15px"><a href="bingyan@mit.edu">[bingyan@mit.edu]</a> <a href="cv/CV_Bing_YAN.pdf">[cv]</a></span> </h1> <br>
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 18px">
  
  My <a href="papers/">research</a> develops selective electrocatalysts to activate chemical bonds in small molecules and polymeric systems, aiming to achieve circular carbon economy. 
</p>


<h3> Current Research Area </h3>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Electrochemical activation of C-C bonds via mediated hydrogen atom transfer reactions. </li>
  <li> Electrochemical activation of C-C bonds via direct electron transfer. </li>
  <li> Electrochemical lactonization reaction. </li>
</ul>
</p>

<h3>Selected Papers</h3>

<table>
{% for paper in site.data.papers.notable %}

  <tr><td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="300px" style="min-width:300px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="300px" style="min-width:300px" src="https://avatar.tobi.sh/{{paper.title}}"></a>

      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

<br>

</td></tr>

{% endfor %}
</table>


<h3>Contact</h3>


<div class="paper-section">
Bing Yan <br>
bingyan at mit.edu <br>
77 Massachusetts Ave Room 66-008, Cambridge, MA <br>
</div>
<br>
